# Ignore Terraform provider binaries
examples/.terraform/providers/registry.terraform.io/hashicorp/azurerm/*/darwin_arm64/terraform-provider-azurerm_*

# Ignore large binary files
examples/.terraform/providers/registry.terraform.io/hashicorp/azurerm/*
.vscode
*.bin
*.exe
*.dll
*.DS_Store
.terraform/
*.tfstate*
terraform.tfvars
*/.DS_Store
