go 1.24.4

use (
	./client
	./cube-client
	./cube-server
	./generator
	./multitool
	./punchbag
	./shared
	./store
	./terraform-multicloud-provider
	./werfty
	./werfty-generator
	./werfty-transformator
)
